body {
    background-color: #535578;
    border-top: 90px solid #11112b;
    z-index: 1;
}


#header {
    position: absolute;
    top: 5px;
    left: 45%;
    vertical-align: middle;
    z-index: 2;

}

#song-list {
    background-color: #cab7b3;
    text-align: center;
    border: 10px solid #2f2f3b;
    padding-bottom: 15px;
    padding-top: 15px;
    

}

#song-div {
    padding: 30px 30% 10px 30%;
    margin-top: 20px;
    

}

#container {
    border: 5px dashed #457825;
    margin-left: auto;
    border-top: 5px dotted #457825;
    padding: 10px 10px 10px 20px;
}

h1 {
    font-family: monospace;
    color: #000747;
    text-align: center;
}

p {
    font-family: sans-serif;
    color: #011473;
    text-align: center;

}
