


body {
     background-color: #1a1252;
     border-top: 90px solid #946b41;
     z-index: 1;
 }


 #header {
     position: absolute;
     top: 5px;
     left: 45%;
     vertical-align: middle;
     z-index: 2;

 }

 #song-list {
     background-color: #b08962;
     text-align: center;
     border: 10px groove red;
     padding-bottom: 15px;
     padding-top: 15px;

 }

 #song-div {
     padding: 150px 30% 10px 30%;

 }

 #container {
     border: 8px solid #74ce0d;
     margin-left: auto;
     border-top: 5px dotted #0d2dce;
     padding: 10px 10px 10px 20px;
 }

h1{
    font-family: Lucida Console;
    color: azure;
    text-align: center;
}

p{
    font-family: Lucida Console;
    color: azure;
    text-align: center;

}
